<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Nexi_Checkout::recurring_section"
             title="Subscriptions"
             translate="title"
             module="Nexi_Checkout"
             parent="Magento_Sales::sales"
             sortOrder="250"
             dependsOnModule="Nexi_Checkout"
             resource="Nexi_Checkout::recurring_payment"
             dependsOnConfig="sales/recurring_payment/active_recurring_payment"
        />
        <add id="Nexi_Checkout::recurring_payment"
             title="Payments"
             translate="title"
             module="Nexi_Checkout"
             parent="Nexi_Checkout::recurring_section"
             sortOrder="251"
             dependsOnModule="Nexi_Checkout"
             action="recurring_payments/recurring"
             resource="Nexi_Checkout::recurring_payment"
        />
        <add id="Nexi_Checkout::recurring_profile"
             title="Profiles"
             translate="title"
             module="Nexi_Checkout"
             parent="Nexi_Checkout::recurring_section"
             sortOrder="252"
             dependsOnModule="Nexi_Checkout"
             action="recurring_payments/profile"
             resource="Nexi_Checkout::recurring_payment"
        />
    </menu>
</config>
