<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="nexi" frontName="nexi">
            <module name="Nexi_Checkout" />
        </route>
        <route id="recurring_payments" frontName="recurring_payments">
            <module name="Nexi_Checkout" />
        </route>
    </router>
</config>
