<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Backend/etc/system_file.xsd">
    <system>
        <tab id="dibs" translate="label" sortOrder="999" class="dibs-extensions-tab">
            <label>Dibs</label>
        </tab>
        <section id="dibs_easycheckout" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Easy Checkout</label>
            <tab>dibs</tab>
            <resource>Dibs_EasyCheckout::system_config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
